.articles-and-sidebar {
    display: grid;
    grid-template-columns: minmax(0,1fr) 300px;
    gap: var(--gap);
    margin: 0 auto;

    @media (max-width: 800px) {
        display: block;
    }

    &__articles {
        display: grid;
        margin-bottom: var(--gap);
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: var(--gap);
    }

    &__button {
        width: 100%;
        .button();
    }

    &__sidebar {
        @media (max-width: 800px) {
            display: none;
        }
    }
}