.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    min-height: 350px;
    padding: 1.5rem;
    position: relative;

    background: linear-gradient(85deg,#434343,#262626);
    box-shadow: -2rem 0 3rem -2rem #000;
    border-radius: 16px;
    transition: 0.2s;

    @media (max-width: 1200px) {
        min-width: 220px;
    }

    @media (max-width: 800px) {
        min-width: 190px;
    }

    &:not(:first-child) {
        margin-left: -130px;
        box-shadow: -3rem 0 3rem -2rem #000;

        @media (max-width: 1200px) {
            margin-left: -30px;
        }

        @media (max-width: 800px) {
            margin-left: -10px;
        }
    }

    &:hover {
        transform: translateY(-1rem) rotate(3deg);

        @media (max-width: 1200px) {
            transform: translateY(-1rem);
        }

        & ~ .card {
            transform: translateX(130px);

            @media (max-width: 1200px) {
                transform: translateX(30px);
            }

            @media (max-width: 800px) {
                transform: translateX(10px);
            }
        }
    }

    &:first-child:hover {
        transform: translate(-.5rem,-1rem) rotate(3deg);
    }

    &__text {
        .font-base();
        color: @color-card-time;
        font-size: 1.15rem;
        line-height: 1.5;

        & strong {
            color: @color-card-article;
            letter-spacing: 1px;
            margin-right: 0.2rem;
        }

        &-icon {
            width: 18px;
            height: 18px;
            margin-right: 0.4rem;
        }
    }

    &__title {
        margin-bottom: 1rem;

        .font-title-black();
        color: white;
        font-size: 1.35rem;
        line-height: 1.2;
    }

    &__author {
        margin-top: auto;
    }

    &__code {
        padding: 3rem 0;

        .font-code();
        color: @color-card-code;
        font-size: 1.1rem;
    }
}