// задаем цвета проекта

@color-background-main: #262626;
@color-background-article: #fff;
@color-background-direct-link: #5e5e5e;
@color-background-button: #5e5e5e;
@color-background-code: #ffeff0;
@color-background-footer: #111;
@color-background-form: #434343;
@color-background-input: #eaeaea;

@color-border-input:#d4d4d4;

@color-title-article: #111;
@color-text: #474747;
@color-author-text: #565656;
@color-link: #0089c7;
@color-tag: #ff7a18;

@color-card-time: #777;
@color-card-article: #d4d4d4;
@color-card-code: #f5d67b;

@color-footer-link: #a9a39f;