// задаем основные параметры шрифта в виде миксинов и переменных

@font-family-title: "Gotham Narrow";
@font-family-text: "Sentinel";
@font-size-base: 16px;

.font-base() {
  font-family: @font-family-text;
  font-weight: 500;
  font-style: normal;
  font-size: @font-size-base;
}

.font-title() {
    font-family: @font-family-title;
    font-weight: 500;
    font-style: normal;
}

.font-title-bold() {
    font-family: @font-family-title;
    font-weight: 700;
    font-style: normal;
}

.font-title-black() {
    font-family: @font-family-title;
    font-weight: 900;
    font-style: normal;
}